# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Flask
instance/
.webassets-cache

# Virtual environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
app/uploads/

# Pybliometrics cache
.pybliometrics/
debug.log
